*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.left-img{
  width:250px;
  clip-path: circle();
  
  /* object-fit: cover;   */
}
.coreskills{
  /* border:2px solid black; */
  display: flex;
  width: 250px;
flex-direction: row;
flex-wrap: wrap;
}
.btn-skills{
  border:none;
  border-radius:20px;
  padding: 5px 15px;
  margin: 10px;
  color: rgb(95, 91, 91);
}
.coreskills img{
  width:60px;
  clip-path: circle();
}